.hero {
    background: #f1f1f1 url(../img/) no-repeat center top/ cover;
    padding: 120px 0px 270px 0px;
    margin-top: 80px;

    &__tittle {
        font-size: 30px;
        @include light;
        margin-bottom: 40px;
    }

    &__subtitle {
        display: block;
        margin-bottom: 67px;
        font-size: 30px;
        @include bold;
    }
}


@media (max-width: 991px) {
    .hero {
        background-size: 100%;
        background-position: top right;

    }
}